@model IEnumerable<DentElora.Entities.Slider>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-warning btn-lg">EKLE</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            <td>
                    <img src="/img/@item.image" alt="" height="75" />
            </td>
            <td>
                    <img src="/img/@item.image2" alt="" height="75" width="100" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary">Düzenle</a> |
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
